@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: #43658b;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p {
    line-height: 2px;
    height: fit-content;
    margin: 1vh 0 0 0;
}
.center {
    margin: 0px auto 0px auto;
}
.calcgrid {
    display: grid;
    grid-template-rows: 4fr 1fr repeat(5, 2fr);
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "a a a a"
    "b b b eq"
    "lg sr pw dl"
    "sv eg ni x"
    "fr fv sx dv"
    "on tw th pl"
    "zr dt cl ng";
}
.btnMrg {
    border: 4px;
    text-align: center;
}
.btn {
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: #f4f4f4;
    background-color: #ed6663;
}
.btnSml {
    padding-top: 1vh;
    color: #636363;
}
.largeTxt {
    font-size: 40px;
}
#calc {
    overflow: auto;
    grid-area: a;
    text-align: right;
    padding-top: 3vh;
    padding-right: 3vw;
    background-color: #f4f4f4;
    color: #3d3434;
}
#result {
    grid-area: b;
    text-align: right;
    background-color: #f4f4f4;
    color: #636363;
    padding-right: 4vw;
}

@media (orientation: landscape){
    .calcbase {
        width: 30vw;
        min-width:420px;
        height: 80vh;
        min-height: 600px;
        background-color: #f4f4f4;
        border-radius: 12px;
        box-shadow: 0px 0px 12px 6px #3d34344d;
        
    }
    .btn:hover{
        background-color: #fa4643;
    }
    #eql:hover{
        background-color: #fa4643;
    }
    #calc {
        border-radius: 12px 12px 0px 0px;
    }
    main {
        padding: 5vh;
    }
    #num0:hover{
        background-color: #fa4643;
        border-radius: 0px 0px 0px 12px;
    }
    #neg:hover{
        background-color: #fa4643;
        border-radius: 0px 0px 12px 0px;
    }
    #num0{
        background-color: #ed6663;
        border-radius: 0px 0px 0px 12px;
    }
    #neg{
        background-color: #ed6663;
        border-radius: 0px 0px 12px 0px;
    }
}
@media (orientation: portrait){
    body {
        background-color: #ed6663;
    }
    .calcbase {
        width: 100vw;
        height: 90vh;
        background-color: #f4f4f4;
    }
}

#eql {
    grid-area: eq;
    color: #f4f4f4;
    background-color: #ed6663;
    border-radius: 12px 0px 0px 0px;
}
#mul {
    grid-area: ml;
}
#div {
    grid-area: dv;
}
#plus {
    grid-area: pl;
}
#neg {
    grid-area: ng;
}
#del {
    grid-area: dl;
}
#dot {
    grid-area: dt;
}
#num0 {
    grid-area: zr;
}
#num1 {
    grid-area: on;
}
#num2 {
    grid-area: tw;
}
#num3 {
    grid-area: th;
}
#num4 {
    grid-area: fr;
}
#num5 {
    grid-area: fv;
}
#num6 {
    grid-area: sx;
}
#num7 {
    grid-area: sv;
}
#num8 {
    grid-area: eg;
}
#num9 {
    grid-area: ni;
}
#log {
    grid-area: lg;
}
#clear {
    grid-area: cl;
}
#sqrt {
    grid-area: sr;
}
#pwr {
    grid-area: pw;
}